
html {
  scroll-behavior: smooth;
}

section {
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  min-height: fit-content;
}


section#hero {
  min-height: 70vh; 
}

section#about {
  min-height: 80vh;
  padding: 4rem 2rem;

}

section#skills {
  min-height: auto;
  background-color: #561c24;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#ede3d5;
}

section#proyects {
  min-height: auto; 
}

section#contact {
  min-height: auto;
}

section:nth-child(even) {
  background-color: #f5f5f5;
}

